<div class="row">
  <div class="col-md-12 my-2 text-center"><br />
    <h2>Sign up</h2>
  </div>
</div>
<!--devise初期設定コードから変更-->
<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

  <%= render "devise/shared/error_messages", resource: resource %>
<div class="row">
  <div class="col-md-12 my-2 text-center ">
   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
   </div>
  </div>

 <div class="col-md-12 my-2 text-center ">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
 </div>
 <div class="col-md-12 my-2 text-center ">
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
 </div>
 <div class="col-md-12 my-2 text-center ">
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
 </div>
</div>
<div class="row">
  <div class="col-md-12 my-2 text-center ">
   <div class="actions">
     <%= f.submit "Sign up" %>
   </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12 my-2 text-center ">
    <%= render "devise/shared/links" %>
  </div>
</div>
