<label>ユーザー編集</label><br>

<%= form_with model: @user, local:true do |f| %>
<div>
  <label>アイコン画像</label>
  <%= f.attachment_field :profile_image %>
</div>
<div>
  <label>ユーザー名</label>
  <%= f.text_field :name %>
</div>
<div>
  <label>紹介文</label>
  <%= f.text_area :introduction %><br>
</div>
<div>
  <%= f.submit "編集内容を登録", class:"btn btn-sm btn-outline-success" %>
  </div>
<% end %>