<div class="row">
  <div class="col-md-12 my-2 text-center"><br /><br /><br />
    <label>ユーザー情報編集</label>
  </div>
</div>

<%= form_with model: @user, local:true do |f| %>
<div class="row">
  <div class="col-md-12 my-2 text-center ">
    <div>
      <label>アイコン画像</label><br />
      <%= f.attachment_field :profile_image %><br><br><br>
    </div>
  </div>
  <div class="col-md-12 my-2 text-center ">
    <div>
      <label>ユーザー名</label><br />
      <%= f.text_field :name %><br><br>
    </div>
  </div>
  <div class="col-md-4 my-2 text-center ">
    <div>
      <label>紹介文</label><br />
      <%= f.text_area :introduction, size:"30x5", class:"justify-content-center form-control " %>
    </div>
  </div>
</div><br /><br /><br />
<div class="row">
  <div class="col-md-12 my-2 text-center ">
    <div>
       <%= f.submit "編集内容を登録", class:"btn btn-sm btn-outline-success" %>
    </div>
  </div>
</div>
<% end %>