<div class="row">
  <div class="col-md-3"></div>
<div class="col-md-6">
<% if @users.exists? %>
<table class="table-light table table-hover">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th colspan="1"></th>
      <th colspan="1"></th>
      <th colspan="1"></th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>

      <td class="align-middle">
        <div class="text-right">
        <%= link_to user_path(user) do %>
          <%= attachment_image_tag(user, :profile_image, size:"90x90", fallback: "no_image.png") %>
        <% end %>
        </div>
      </td>

      <td class="align-middle">
        <div class="text-right">
        <%= link_to user_path(user) do %>
          <%= user.name%>
        <% end %>
        </div>
      </td>

      <td class="align-middle">
        <div class="text-right">
        <%= "#{user.followings.count}：Follow" %>
        </div>
      </td>

      <td class="align-middle">
        <div class="text-right">
        <%= "#{user.followers.count}：Follower" %>
        </div>
      </td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p class="text-center">フォローされていません。</p>
<% end %>
</div>
</div>