<label>ユーザー画面</label><br>

<div>
  <label>アイコン画像</label>
  <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.png" %>
</div>

<div>
  <label>ユーザー名</label>
  <%= @user.name %>
</div>

<div>
  <% if current_user != @user %>
    <% if @user.followed_by?(current_user) %>
      <span><%= link_to "Unfollow", user_relationships_path(@user.id), method: :delete %></span>
    <% else %>
      <span><%= link_to "Follow", user_relationships_path(@user.id), method: :post %></span>
    <% end %>
  <% end %>
</div>

<div>
  <label>紹介文</label>
  <%= @user.introduction %>
</div>

<div>
  <%= link_to "編集", edit_user_path, class:"btn btn-sm btn-outline-success" %>
</div>
<div>
  <% if current_user != @user %>
  <%= link_to "チャットを開始する", chat_path(@user.id)%>
  <% end %>
</div>
