
<%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:'btn btn-ms btn-outline-danger'%>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<div>
  <!--Postの一覧画面-->
  <table class="table-light">
    <thead class="thead-light">
      <tr>
        <th style="width: 15%">画像</th>
        <th style="width: 20%">タイトル</th>
        <th style="width: 45%">本文</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= attachment_image_tag(post, :post_image, size:"30x30")%></td>
        <td><%= post.post_title %></td>
        <td><%= post.opinion %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div><br>

<div>
  <!--Genreの一覧画面-->
  <table class="table-light">
    <thead class="thead-light">
      <tr>
        <th style="width: 15%">ジャンル</th>
        <th style="width: 15%"></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
      <tr>
        <td><%= genre.genre %></td>
        <td>削除</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div><br>

<div>
  <!--Userの一覧画面-->
  <table class="table-light">
    <thead class="thead-light">
      <tr>
        <th style="width: 15%">アイコン</th>
        <th style="width: 20%">ユーザーネーム</th>
        <th style="width: 45%">紹介文</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, size:"30x30")%></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
        <td>削除</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

  </div>
</div>