<div class="container m-4">
<br><br>
<div class="row">
  <div class="col-md-12 text-center">
    <h3>投稿編集画面</h3>
  </div>
</div><br><br>

<%= form_with model: @post, local:true do |f| %>
<div class="row">
  <div class="col-md-4 my-2 text-right ">
    <label>投稿画像</label>
  </div>
  <div class="col-md-8 ">
    <%= f.attachment_field :post_image %>
  </div><br>

  <div class="col-md-4 my-2 text-right">
    <label>投稿タイトル</label>
  </div>
  <div class="col-md-8">
    <%= f.text_field :post_title, size: "30", class:"form-control" %>
  </div><br>

  <div class="col-md-4 my-auto text-right">
    <label>文章</label>
  </div>
  <div class="col-md-8">
    <%= f.text_area :opinion, size:"30x5", class:"form-control"%>
  </div>

  <div class="col-md-4 my-2 text-right">
    <label>ジャンル</label>
  </div>
  <div class="col-md-8 my-2">
    <%= f.collection_select :genre_id, Genre.all, :id, :genre, prompt: "---ジャンルを選択---", size:"30", class:"form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-4 mt-3 text-right">
<%= f.submit '変更内容を保存', class:"btn btn-sm btn-outline-success" %>
  </div>
</div>
<% end %>
</div>
