
<label>投稿詳細画面</label><br>


<%= attachment_image_tag @post, :post_image, :fill, 60, 60, fallback: "no_image.jpg" %><br>
<%= @post.post_title %>
<%= @post.opinion %>

<div id ="likes_buttons_<%= @post.id %>">
  <%= render partial: "favorites/like", locals: { post: @post} %>
</div>

<%= link_to "削除", post_path(@post), method: :delete, class:"btn btn-sm btn-outline-danger" %>

<%= link_to "編集", edit_post_path, class:"btn btn-sm btn-outline-success" %>

<div id ="post_comments">
  <%= render partial: "post_comments/comment", locals: { post: @post, post_comment: @post.post_comments} %>
</div>