<%= link_to user_path(@post.user_id) do %>
<div class="post-user-img-show">
  <%= attachment_image_tag(@post.user, :profile_image, size:"90x90", fallback: "no_image.png")%>
</div>
<div class="post-user-name">
  <%= @post.user.name %>
</div>
<% end %>

<div class="relationship-show">
  <% if current_user != @post.user %>
    <% if @post.user.followed_by?(current_user) %>
      <span><%= link_to "Unfollow", user_relationships_path(@post.user.id), method: :delete, class:"btn btn-outline-success" %></span>
    <% else %>
      <span><%= link_to "Follow", user_relationships_path(@post.user.id), method: :post , class:"btn btn-outline-primary" %></span>
    <% end %>
  <% end %>
</div>

<div  class="post_image-show">
  <%= attachment_image_tag(@post, :post_image, size:"350x350") %>
</div>

<div class="post-title-opinion">
  <div class="post-title-show">
    <%= @post.post_title %>
  </div>

  <div class="line-show"></div>

  <div class="post-opinion-show">
    <%= @post.opinion %>
  </div>
</div>


<div id ="likes_buttons_<%= @post.id %>">
  <%= render partial: "favorites/like", locals: { post: @post} %>
</div>

<% if current_user == @post.user %><!--投稿をしたuserのみ見れる-->
<div class="delete-show">
  <%= link_to "削除", post_path(@post), method: :delete, class:"btn btn-sm btn-outline-danger" %>
</div>

<div class="edit-show">
  <%= link_to "編集", edit_post_path, class:"btn btn-sm btn-outline-success" %>
</div>
<% end %>

<div id ="post_comments">
  <%= render partial: "post_comments/comment", locals: { post: @post, post_comment: @post.post_comments} %>
</div>